/* default setting for the whole page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* the background color */
.background{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(100deg, #0080ff, #04ff00);
    padding: 10px;
}

/* the white box */
.todo-box{
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 20px auto 20px;
    padding: 50px 20px 40px;
    border-radius: 10px;
}

/* the text on the top of the white box */
.todo-box h2{
    color: #0080ff;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

/* the grey box where you write your tasks */
.add-tasks-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d4d4d6;
    border-radius: 35px;
    padding-left: 25px;
    margin-bottom: 20px;
}

/* this removes a white square that would look bad in the grey box */
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

/* the add button */
button{
    border: none;
    outline: none;
    padding: 15px 60px;
    background: #ff7700;
    color: #ffffff;
    cursor: pointer;
    border-radius: 35px;
}

/* the list of the tasks */
ul li{
    list-style: none;
    padding: 10px 5px 10px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* the unchecked box */
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 5px;
    left: 10px;
}

/* the checked text */
ul li.checked{
    color: #838383;
    text-decoration: line-through;
}

/* the checked box */
ul li.checked::before{
    background-image: url(images/checked.png);
}

/* the x to remove the tasks */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 33px;
    height: 33px;
    color: #959595;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
}

/* the x when you hover your mouse over it */
ul li span:hover{
    background: #e6e6e6;
}